@import "../../../../styles/media.scss";

.image {
  max-height: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto;

  @include smallMobile {
    width: 100%;
  }
}

.imageSmall {
  max-width: 15%;
  max-height: 15%;
  width: auto;
  height: auto;
  padding: 2px;
  border: 1px solid transparent;
  transition: transform 0.2s ease;

  &:hover {
    border-color: #f57224;
  }
}

.distance {
  height: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
