.boxFilter {
  width: 100%;

  .filterTitle {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid #ececec;
    padding-top: 16px;
  }

  .borderHead {
    border-top: 1px solid #fff;
  }
}
